{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
<center>
<h1 class='display-4'> Artist Info </h1>

<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">Artist Info</h5>
    <h6 class="card-subtitle mb-2 text-muted">Name : {{artist.first_name}} {{artist.last_name}}</h6>
    <p class="card-text"><b>Instrument : {{artist.instrument}}</b></p>
    <hr>
    <p class="card-text"><b>Artist Rating : {{artist_avg_rating.num_star__avg}}</b></p>
    <a href="{% url 'TEST:edit_artist' artist_id=artist.id %}" class='btn btn-info btn-sm'> Edit </a>
    <hr>
    {% if albums_list %}
    <h1 class='display-4'> Album List </h1>
    <table class="table">
    <thead class="thead-dark">
    <tr>
      
      <th scope="col">Album Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
      
      
    </tr>
  </thead>
            
        {% for album in albums_list %}
            <tbody>
    <tr>
      
      <td>{{album.name}}</td>
      <td>{{album.release_date}}</td>
      <td>{{album.num_star}}</td>
      <td><a href="{% url 'TEST:edit_album' album_id=album.id %}" class='btn btn-danger' >Update</a></td>
      <td><a href="{% url 'TEST:delete_album' album_id=album.id %}" class='btn btn-danger' onclick="return confirm ('Are you sure ?? ')" >Delete</a></td>
    </tr>
  </tbody>
            {% endfor %}
            {% endif %}
      </table>
    <a href="{% url 'TEST:index' %}" class="btn btn-danger btn-lg">Go Back</a>
    
  </div>
</div>




{% endblock %}
