{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

<center>
<h1 class='display-4'> Musician List </h1>
</center>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Instrument</th>
      <th scope="col">Album</th>
    </tr>
  </thead>
    {% if musician_list %}
        {% for musician in musician_list %}
  <tbody>
    <tr>
      <th scope="row">{{musician.id}}</th>
      <td>{{musician.first_name}}</td>
      <td>{{musician.last_name}}</td>
      <td>{{musician.instrument}}</td>
      <td><a class='btn btn-success btn-sm' href="{% url 'TEST:album_list' artist_id=musician.id %}">Go to Album</td>
    </tr>
  </tbody>
        {% endfor %}
    {% endif %}
</table>

{% endblock %}



  
